@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:200,400,600');

@font-face {
    font-family: "berlin";
    src: url(../assets/BRLNSDB.TTF);
}

html { 
  background: url(../assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  line-height: 1.75em;
}

svg {
  width: 100%;
  display:block;
  margin: auto;
  opacity: 0;
}

video {
  width: 100%;
  margin: auto;
}

iframe {
  width: 800px;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  color: #ffed74;
}

h2 {
  font-size: 2em;
  text-align: center;
}

.row {
  padding: 2em 0 2em 0;
}

.communication .row, .communication {
  padding: 0;
}

.header {
  padding: 5em 3em 3em 6em;
}

.faded {
  background-color: rgba(0,0,0,0.5);
}

.header h1 {
  font-size: 3em;
  font-weight: 200;
  color: #fff;
}

.header h2 {
  font-size: 3em;
  text-align: left;
}

.slightlyBigger {
  font-size: 1.05rem !important;
  fill: #a06148 !important;
}

#title tspan, #countrylabel, #bigcountryname, #comparison tspan,
g .percentage, g .countryname,
#populationlabel, #productionlabel, #incomelabel, #percentagelabel,
#populationplaceholder, #productionplaceholder, #incomeplaceholder, #percentageplaceholder {
  font-family: "berlin";
}

.countryname {
  text-align: right;
}

.doNotShow {
  opacity: 1;
  animation: .5s hideElements forwards;
}

.show {
  opacity: 0;
  animation: .5s showElements forwards;
}
.hidden {
  display: none;
}

.appear {
  animation: 2s showElements forwards;
}

.padding {padding: 0px;}

img {
    max-width: 100%;
}

@media (min-width: 800px) { 
  .header h1 {
    font-size: 7em !important;
  }
}

@keyframes showElements {
  to {
    opacity: 1;
  }
}

@keyframes hideElements {
  to {
    opacity: 0;
  }
}